#title {
  color: #A37; }

.vid-contain-box .vid-text, .vid-contain-box span {
  color: #ffffff; }

h1 {
  text-align: center; }

.vid-contain-box {
  display: flex;
  justify-content: center;
  width: 100%; }

.vid-contain-box .vid-center-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px; }

.vid-contain-box .vid-box {
  margin: 5px;
  width: calc(33.33% - 2rem); }

.vid-contain-box .vid-details {
  display: flex;
  flex-direction: column;
  padding: 12px; }

.vid-contain-box span {
  font-size: 12.8em; }

h2, h3, h4.vid-h4 {
  color: #f5f5f5; }

h4.vid-h4 {
  color: #f5f5f5 !important;
  min-height: 230px; }

h5 {
  font-size: 1.6em; }

button {
  border: 0;
  background: 0 0; }

.vid-box-1 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }

.vid-box-2 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }

.vid-box-3 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }

.vid-box-4 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }

.vid-box-5 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }

.vid-box-6 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }

.vid-box-7 {
  background: url(http://www.oru.edu/new/image/thumb-7.jpg) center center;
  background-size: cover; }
